@import '../../../../assets/styles/variables.scss';

:host {
  .table-container {
    width: 100%;
    margin-top: 60px;
    .mat-header-cell {
      text-transform: capitalize;
      font-size: $font-size-base;
    }
    .name {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}